<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.vlad1m1r.lemniscate.sample.lemniscate">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:supportsRtl="true"
    >

    </application>

</manifest>
